<!DOCTYPE html>
<html lang="en">
  <head>
    <nav class="navbar" style="text-align: center;">
    <a class="new-post" href="/posts/new">New Post</a>
      <a class="profile" href="#">Profile</a>
      <a class="logout" href="/logout">Log Out</a>
    </nav>
    
  </head>
  <body style="text-align: center;">
      <h1 class="header">Timeline</h1>  
        <ul class="posts" >
          {{#each posts}}

          <div class="post" id= "{{this.message}}">
            <div class="post-header">
              <p ><b> {{this.message}} </b></p>
            </div>

            <p> Likes: {{this.likes}} </p>

            <div id ="forms">
              <form class="button" name="delete-post-form" id="delete-post-form" action="/posts/delete" method="post">
                <input id="id" type="hidden" name="id" value="{{this._id}}">
                <input type="submit" id= this._id value="Delete">
              </form>

              <form class="button" name="like-post-form" id="like-post-form" action="/posts/like" method="post">
                <input id="id" type="hidden" name="id" value="{{this._id}}">
                <input type="submit" id= this._id value="Like">
              </form> 

              <form class="button" name="comment-post-form" id="comment-post-form" action="/posts/comments" method="get">
                <input id="comment-button" type="submit" name="comment-button" value="Comment">
              </form>

            </div> 
          </div>
          {{/each}}
        </ul>

      <style type="text/css">
        .header {
          text-align: center;
        }
        .post {
          border: 2px solid #2EBC99;
          border-radius: 5px;
          width: auto;
          margin: auto;
          padding-bottom: 10px;
          text-align: center;
          width: 30%;
          margin-right: 36%;
          margin-bottom: 10px;
          -moz-box-shadow: 3px 3px 3px #ccc;
          -webkit-box-shadow: 3px 3px 3px #ccc;
          box-shadow: 3px 3px 3px #ccc;
        }

        .post-header {
          border-bottom: 2px solid #2EBC99;
          font-size: 1.4em;
        }

        .button {
          display: inline;
        }
        
        .button input[type="submit"] {
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          width: 20%;
          height: 2%;
          padding: 3%;
          background: #43D1AF;
          border-bottom: 2px solid #30C29E;
          border-top-style: none;
          border-right-style: none;
          border-left-style: none;	
          color: #fff;
        }
        .button input[type="submit"]:hover {
          background: #2EBC99;
        }

        .navbar > div {
          display: inline;
          background: rgb(243, 243, 243);
          padding: 5px 15px 5px 15px;
        }
        a {
          text-decoration: none;
          color: #2EBC99;
        }

        .navbar > div:hover {
          background: rgb(218, 218, 218);
        }
      </style>
  </body>
</html>